<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <a href="/home">home</a>|<a href="/system">system</a>

    <div style="clear: both">&nbsp;</div>

    <div style="float: left; margin-right: 40px; width: 400px;">
        @{ Html.RenderPartial("Subscriptions"); }
    </div>

    <div style="float: left; max-width: 800px; left: 420px" id="panel">
        @RenderBody()
    </div>

    <div style="clear: both">&nbsp;</div>

    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/rss")
</body>
</html>
