@model Rss.Server.Models.Feed

@{
    ViewBag.Title = "Feed";
}

<h2>@Model.Name</h2>
<sub>@Model.HtmlUrl</sub>
@{
    foreach (var item in Model.Items)
    {
        <h3><a href="@item.LinkUrl" target="_blank">@item.Name</a></h3>
    <sub>@item.PublishedDateTime</sub>
    <p>@Html.Raw(item.Raw)</p>
    <hr />
    }
}
