@using Rss.Server.Models
@model Rss.Server.ViewModels.FolderItemsViewModel

@{
    ViewBag.Title = "Folder";
}

<h1><a class="ajax" rel="#panel" href="/home/folder/@Model.FolderId">@Model.FolderName</a>
    <input type="button" value="Refresh" 
           class="ajax"
           data-postaction="/api/folder/Refresh"
           data-id="@Model.FolderId"/>

    <input type="button" value="Mark all as read" 
               class="ajax"
               data-postaction="/api/folder/mark"
               data-id="@Model.FolderId"
               data-getaction="/home/folder/@Model.FolderId"
               data-getpanel='#panel' />
</h1>

<div id="body">
    <section>
        <ul id="stream" class="nobullet">
            @{
                foreach (var item in Model.Items)
                {
                <li class="item">
                    <div>
                        <a class="ajax" rel="#panel" href="/home/feed/@item.FeedId">@item.FeedName</a>
                    </div>
                    <div>
                        <a class="ajax" rel="#panel" href="/home/item/@item.Id"><strong>@item.Name</strong> (@item.PublishedDateTime)</a>
                    </div>
                    <p>
                        @item.Snippet
                    </p>
                    <hr />
                </li>
                }
            }
        </ul>
    </section>
</div>
