@using Rss.Server.Models
@model Rss.Server.ViewModels.FolderItemsViewModel

@{
    ViewBag.Title = "Folder";
}

<h1><a href="/home/folder/@Model.FolderId">@Model.FolderName</a>
    <input type="button" value="Refresh" 
           class="post-mode-simple"
           data-action="/api/folder/Refresh"
           data-id="@Model.FolderId"/>

    <input type="button" value="Mark all as read" 
               class="post-mode-simple"
               data-action="/api/folder/mark"
               data-id="@Model.FolderId"
               data-redirectaction="/home/folder/@Model.FolderId"/>
</h1>

<div id="body">
    <section>
        <ul id="stream" class="nobullet">
            @{
                foreach (var item in Model.Items)
                {
                <li class="item">
                    <div>
                        <a href="/home/feed/@item.FeedId">@item.FeedName</a>
                    </div>
                    <div>
                        <a href="/home/item/@item.Id"><strong>@item.Name</strong> (@item.PublishedDateTime)</a>
                    </div>
                    <hr />
                </li>
                }
            }
        </ul>
    </section>
</div>
