@model Rss.Server.Models.Item
@{
    ViewBag.Title = "Item";
}

<h2><a href="/home/feed/@Model.FeedId">@Model.FeedName</a></h2>

<div class="item">
    <h3><a href="@Model.LinkUrl" target="_blank">@Model.Name</a></h3>
    <sub>@Model.PublishedDateTime</sub>
    <p>@Html.Raw(Model.Content)</p>
</div>
