@model Rss.Server.Models.Item
@{
    ViewBag.Title = "Item";
}

<h1>
    <a class="command"  
             data-command="feed"
             data-commandargument="@Model.FeedId">@Model.FeedName</a>
</h1>

<div class="item">
    <h3><a href="@Model.LinkUrl" target="_blank">@Model.Name</a></h3>
    <sub>@Model.PublishedDateTime</sub>
    <p>@Html.Raw(Model.Raw)</p>
</div>
